.title-comic{
    padding:5px;
    text-align: justify;
    max-width: 270px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.img-card-cart{
    max-height: 427px;
    
}

.msg-cart{
    margin-top: 125px;
    position: unset !important;
}

.card-cart{
    position: unset !important;
}