.title-comic{
    padding:5px;
    text-align: justify;
    max-width: 270px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.img-card-cart{
    max-height: 427px;
    
}
.msg-cart-empty{
    margin-top: 135px;
    position: unset !important;
}

.msg-cart{
    margin-top: 20px;
    position: unset !important;
}

.card-cart{
    position: unset !important;
}

.btn-send{
    height: 40px;
    width: 200px;
    margin-top: 135px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    border: 0;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #EC1D24;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 800;
}

.btn-send:hover{
    color: #ffffff;
    background-color: #db0b12;
    text-decoration: none;
}