.modal{
    background-color: #fff;
    border-radius: 4px;
    width: 800px;
    margin: 80px auto 0 auto;
    padding: 15px;
}

.modal__overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);

}

.modal__close-button{
    float: right;   
    border: unset;
}